//
// There should be no need to change this
//

singularity.autoMounts = true
singularity.enabled = true
nextflowVersion = '>=20.10.0'
trace.enabled = true
report.enabled = true
dag.enabled = true

//
// You may need to change this, based on your computing environment
//

// If you use a workload manager besides SLURM, you can replace 'slurm' with the relevant workload manager, if supported: https://www.nextflow.io/docs/latest/executor.html
// If you don't use a supported workload manager, you can replace 'slurm' with 'local'
process {
    executor='slurm'
    // containerOptions='--bind "/lab:/lab" --bind "/localscratch:/localscratch" --bind "/nfs:/nfs"' // bind paths if any of your files are not in your $HOME or the current working directory
    // clusterOptions='--constraint=wolverine' // to run only on wolverine
    shell = ['/bin/bash', '-ueo', 'pipefail']
}

// if the executor above is set to 'local' (i.e. you aren't using a supported workload manager),
// specify the computing resources available for running commands on your machine here
executor {
    name = 'local'
    cpus = 5
    memory = '300 GB'
}

// you may wish to set singularity cache location to avoid unnecessarily re-downloading containers
// singularity.cacheDir = '$HOME/singularity-cache'

// marker genes you'd like to visualize during clustering
params.markers = ['Myh7', 'Myh1', 'Myh2', 'Vwf', 'Pax7', 'Ptprc', 'Myh11', 'Myh3', 'Myh4', 'Fbn1', 'Pdgfra', 'Acta2', 'Chrna1']